// main: style.less

<<<<<<< HEAD
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img {
=======
.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.img
{
>>>>>>> 2de5db345940b240990541c0b512d283cf67f005
    display: block;

    max-width: 100%;
    height: auto;
}

<<<<<<< HEAD
.mb-0 {
    margin-bottom: 0;
}

.hide {
    display: none;
}
=======
.mb-0
{
    margin-bottom: 0;
}
>>>>>>> 2de5db345940b240990541c0b512d283cf67f005
