.transformBtn:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  transition: all 0.7s ease-in-out;
  border: 1px solid #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
body {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  border: 1px solid #fff;
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
body.no-scroll {
  overflow: hidden;
}
/*Vendor*/
/* Slider */
.slick-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  z-index: 2;
}
.slick-dots li {
  margin: 0 0.5rem;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-dots button {
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  background: none;
  border-radius: 50%;
  font-style: 0;
  color: transparent;
  cursor: pointer;
}
.slick-dots button:focus {
  outline: 0;
}
/*Blocks*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.header {
  padding: 1.2rem 0;
}
@media (max-width:767px) {
  .header {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
}
.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 57px;
  height: 57px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__content {
  padding-left: 9px;
}
.user__name {
  margin-bottom: 3px;
  font-style: 1.06rem;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
}
.user__pof {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
@media (max-width:767px) {
  .nav {
    width: 100%;
    height: auto;
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .nav.show {
    display: flex;
  }
}
.nav__link {
  font-size: 0.93rem;
  font-weight: 700;
  position: relative;
  margin-left: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 5px;
}
.nav__link:before,
.nav__link:after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 0.5s ease;
  background-color: #fff;
}
.nav__link:before {
  bottom: 0;
  transform: translateX(-100%);
}
.nav__link:after {
  top: 0;
  transform: translateX(100%);
}
.nav__link:hover:before,
.nav__link:hover:after {
  transform: translateX(0);
}
.nav__link--btn {
  padding: 0.66rem 2rem;
  transition: background-color 0.2s linear, 0.2s color linear;
  border: 2px solid #fff;
  border-radius: 20px;
}
.nav__link--btn:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translate(0, -7px);
  transition: all 0.7s ease-in-out;
}
@media (max-width:767px) {
  .nav__link {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}
@media (max-width:767px) {
  .intro {
    margin-top: 100px;
  }
}
.intro__inner {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
@media (max-width:991px) {
  .intro__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 400px auto;
  }
}
@media (max-width:767px) {
  .intro__inner {
    background-size: 300px auto;
  }
}
.intro__content {
  width: 50%;
}
@media (max-width:767px) {
  .intro__content {
    width: 60%;
  }
}
@media (max-width:565px) {
  .intro__content {
    width: 100%;
  }
}
.intro__subtitle {
  font-size: 2.13rem;
  font-weight: 200;
  color: #fff;
}
@media (max-width:991px) {
  .intro__subtitle {
    font-size: 1.5rem;
  }
}
.intro__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
}
@media (max-width:991px) {
  .intro__title {
    font-size: 2rem;
  }
}
.intro__text {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}
@media (max-width:991px) {
  .intro__photo {
    width: 350px;
  }
}
@media (max-width:767px) {
  .intro__photo {
    width: 300px;
  }
}
@media (max-width:565px) {
  .intro__photo {
    display: none;
  }
}
.social {
  display: flex;
  margin-bottom: 42px;
}
.social__link {
  margin-right: 10px;
  transition: transform 0.2s linear;
  text-decoration: none;
}
.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.1;
  display: inline-block;
  min-width: 170px;
  padding: 1.05em 1.8em;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1.8em;
}
.btn:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  transition: all 0.7s ease-in-out;
  border: 1px solid #fff;
}
.btn--hide {
  visibility: hidden;
  opacity: 0;
}
.btn + .btn {
  margin-left: 15px;
}
.btn--sm {
  min-width: 0;
  padding: 0.6em 1.1em;
  font-size: 0.94rem;
  font-weight: bold;
  border-width: 2px;
  border-color: #fff;
}
.btn--thin {
  min-width: 145px;
  font-size: 0.8rem;
}
@media (max-width:991px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}
@media (max-width:565px) {
  .btn {
    display: block;
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}
.works {
  margin: 2.8rem 0;
}
.works__nav {
  display: flex;
  margin-bottom: 1.4rem;
  justify-content: center;
}
.works__nav-link {
  font-size: 1.3rem;
  margin: 0 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.works__nav-link:hover {
  text-decoration: underline;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio__col {
  flex-basis: 33.33333%;
  padding: 1rem;
}
@media (max-width:767px) {
  .portfolio__col {
    flex-basis: 50%;
  }
}
@media (max-width:565px) {
  .portfolio__col {
    flex-basis: 100%;
  }
}
.work {
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
@media (max-width:767px) {
  .work {
    max-width: 370px;
  }
}
@media (max-width:565px) {
  .work {
    margin: 0 auto;
  }
}
.work__image {
  display: block;
  width: 100%;
  height: auto;
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__cat {
  font-style: 12px;
  color: #fff;
  text-transform: uppercase;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.about {
  margin: 8.4rem 0;
}
@media (max-width:991px) {
  .about {
    margin: 4rem 0;
  }
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
}
.about__photo,
.about__content {
  width: 50%;
}
@media (max-width:991px) {
  .about__photo,
  .about__content {
    width: 100%;
  }
}
.about__photo {
  position: relative;
}
.about__photo img {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.about__photo:before {
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 1rem;
  width: 413px;
  height: 413px;
  content: '';
  background-color: #8d8d8e;
}
@media (max-width:991px) {
  .about__photo {
    order: 2;
  }
  .about__photo:before {
    width: 100%;
    height: 300px;
    left: 0;
  }
  .about__photo img {
    position: relative;
    margin: 0 auto;
  }
}
.about__content {
  padding-left: 3.2rem;
  margin-top: 2rem;
}
@media (max-width:991px) {
  .about__content {
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.about__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width:1199px) {
  .about__title {
    font-size: 2.5rem;
  }
}
@media (max-width:767px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__bigtitle {
  font-size: 6.1rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  left: -10px;
  margin-bottom: 1.4rem;
  color: rgba(255, 255, 255, 0.15);
}
@media (max-width:1199px) {
  .about__bigtitle {
    font-size: 4rem;
  }
}
@media (max-width:991px) {
  .about__bigtitle {
    position: static;
  }
}
@media (max-width:767px) {
  .about__bigtitle {
    font-size: 3rem;
  }
}
.about__text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 2.8rem;
  color: #fff;
}
.reviews {
  position: relative;
  padding: 4.6rem 0;
  background: #332f30 url('../images/Reviews/bg__reviwes.png') center no-repeat;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  font-size: 0.94rem;
  line-height: 2.2;
  text-align: center;
  color: #fff;
}
.reviews__author {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -51px;
  text-align: center;
}
.reviews__photo {
  display: block;
  width: 103px;
  height: 103px;
  margin: 0 auto 0.6rem;
  border: 4px solid #efefef;
  border-radius: 50%;
}
.reviews__name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #fff;
}
.reviews__company {
  font-size: 0.94rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.4rem;
  color: #6a696b;
}
.reviews__star {
  width: 13px;
  height: 13px;
}
.reviews__star--unactive {
  opacity: 0.5;
}
.news {
  margin-top: 14rem;
  margin-bottom: 8rem;
}
@media (max-width:991px) {
  .news {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
}
.news__header {
  margin-bottom: 3.6rem;
  text-align: center;
}
.news__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width:767px) {
  .news__title {
    font-size: 2rem;
  }
}
.news__text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #8d8d8e;
}
.news__footer {
  text-align: right;
}
.news__link {
  font-size: 0.94rem;
  color: #6a696b;
}
.news__link:hover {
  text-decoration: none;
}
.articels {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.articels__col {
  width: 33.33333%;
  padding: 0 1rem;
}
@media (max-width:767px) {
  .articels__col {
    width: 100%;
  }
}
.aritcels__item {
  margin-bottom: 2rem;
}
@media (max-width:767px) {
  .aritcels__item {
    max-width: 370px;
    margin: 0 auto 2rem;
  }
}
.articels__header {
  position: relative;
  margin-bottom: 1.35rem;
}
.articels__date {
  font-size: 1.06rem;
  line-height: 1.4;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 77px;
  height: 77px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.articels__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.articels__content {
  margin-bottom: 2rem;
}
.articels__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  color: #fff;
}
.articels__title a {
  text-decoration: none;
  color: inherit;
}
.articels__title a:hover {
  text-decoration: underline;
}
.articels__cat {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}
.articels__text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  color: #6a696b;
}
.footer {
  padding: 1rem 0;
  background-color: #0a146b40;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  .footer__credits {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
@media (max-width:565px) {
  .footer__credits {
    flex-direction: column;
  }
}
.footer__copyright {
  font-size: 0.94rem;
  margin-right: 1rem;
  padding-right: 1rem;
  color: #BBBBCC;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}
@media (max-width:565px) {
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 1rem;
    border-right: 0;
  }
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  margin-right: 1.2rem;
  text-decoration: none;
}
@media (max-width:991px) {
  .footer__social a {
    margin: 0 0.5rem;
  }
}
.footer__nav {
  font-size: 0.94rem;
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  .footer__nav {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer__nav-link {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #bbc;
}
.footer__nav-link:hover {
  text-decoration: underline;
}
.footer__nav-link--btn {
  line-height: 1.1rem;
  padding: 0.5rem 1.4rem;
  border: 1px solid #8d8d8e;
  border-radius: 20px;
}
.footer__nav-link--btn:hover {
  text-decoration: none;
  color: #fff;
  border-color: #bbc;
  background-color: #bbc;
}
@media (max-width:991px) {
  .footer__nav-link {
    margin: 0 0.5rem 0.5rem;
  }
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(6, 15, 49, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.modal__dialog--sm {
  max-width: 400px;
}
.modal__close {
  width: 34px;
  height: 39px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  z-index: 1;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
@media (max-width:565px) {
  .modal__title {
    font-size: 2.5rem;
  }
}
.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: #fff;
  font-weight: 400;
}
@media (max-width:565px) {
  .modal__subtitle {
    font-size: 0.86rem;
  }
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;
}
.modal-work__header {
  margin-bottom: 2.2rem;
}
.modal-work__title {
  margin-bottom: 0.2rem;
  font-size: 2.12rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6a696b;
  text-transform: uppercase;
}
.modal-work__info-divider {
  margin: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  margin-bottom: 0.2rem;
  font-size: 1.06rem;
  color: #fff;
  font-weight: 700;
}
.modal-work__client-company {
  font-size: 0.94rem;
  font-style: italic;
  color: #6a696b;
}
.modal-work__text {
  margin-bottom: 8.66rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}
.modal-work__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal-work__btn {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.94rem;
  color: #fff;
  text-transform: uppercase;
}
.modal-success {
  display: none;
  position: fixed;
  top: -10%;
  right: 0;
  left: 0;
  opacity: 0;
  width: 320px;
  margin: auto;
  z-index: 1000;
}
.success {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: #5467;
  border: 1px solid #fff;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.timeline {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 4.2rem auto;
}
.timeline:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  display: block;
  width: 1px;
  height: 100%;
  content: '';
  background-color: #fff;
}
.timeline__col {
  width: 50%;
}
.timeline__col--left {
  padding-right: 3.2rem;
  text-align: right;
}
.timeline__col--right {
  padding-left: 3.2rem;
  text-align: left;
}
.timeline__title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}
.timeline__item {
  margin-bottom: 2.6rem;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__date {
  font-size: 0.94em;
  display: block;
  margin-bottom: 0.8rem;
  text-decoration: underline;
  color: #fff;
}
.timeline__subtitle {
  font-size: 1.06rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #fff;
}
.timeline__position {
  font-size: 0.94rem;
  font-style: italic;
  color: #fff;
}
.timeline__text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0.8rem;
  color: #6a696b;
}
.progress-bar {
  margin-bottom: 2.6rem;
}
.progress-bar__item {
  display: flex;
  margin-bottom: 0.3rem;
  align-items: center;
}
.progress-bar__title {
  font-size: 0.94rem;
  font-weight: 300;
}
.progress-bar__right {
  padding-left: 1.2rem;
}
.progress-bar__bar {
  width: 139px;
  height: 6px;
  background-color: #efefef;
}
.progress-bar__progress {
  height: 100%;
  transition: width 0.2s linear;
  background-color: #6a696b;
}
.contact {
  display: flex;
  background: url(/images/modal/cellphone-cellular-communicatio-263564.jpg) right center no-repeat;
  background-size: contain;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.contact__content {
  padding: 2rem;
  width: 100%;
}
@media (max-width:565px) {
  .contact__content {
    padding: 1.5rem;
  }
}
.contact__info {
  font-size: 0.94rem;
  font-weight: 300;
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  color: #fff;
}
@media (max-width:565px) {
  .contact__info {
    margin: 1.5rem 0 2.5rem;
  }
}
.contact__info-item {
  display: flex;
  margin-bottom: 0.75rem;
  align-items: center;
}
.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-icon {
  margin-right: 0.75rem;
}
.form__group {
  margin-bottom: 1.8rem;
  position: relative;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700;
}
.form__textarea {
  height: 200px;
  resize: none;
}
@media (max-width:565px) {
  .form__textarea {
    height: 110px;
  }
}
.form__input,
.form__textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 1.8rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
  box-shadow: inset 2px 2px 5px rgba(28, 28, 28, 0.5), 1px 1px 5px #ffffff;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #36abc7;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #000;
}
@media (max-width:565px) {
  .form__input,
  .form__textarea {
    padding: 1rem 1.8rem;
  }
}
.burger {
  width: 30px;
  height: 30px;
  display: none;
  padding: 0;
  border: 0;
  background: none;
}
@media (max-width:767px) {
  .burger {
    display: block;
  }
}
.burger__icon {
  display: block;
  max-width: 100%;
  height: auto;
}
/*helper*/
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.hide {
  display: none;
}
.light {
  color: #000;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  transition: all 0.7s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.valid {
  background: url(../../images/form/check.svg) right no-repeat;
}
.error {
  color: #ff2dff;
}
#iput-email-error,
#input-name-error {
  position: absolute;
  top: 5px;
  padding: 5px;
  text-align: center;
  top: 100%;
}
