//comress: false
@import 'vars';
@import 'mixins/mixin';



*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

body {
    font-size: 1rem;
    margin: 0;
    color: @white;
    border: 1px solid @white;
    background-image: linear-gradient(to right top, #051937, #000, #008793, #bf0000, #f00);

    &.no-scroll {
        overflow: hidden;
    }
}

/*Vendor*/
@import "vendor/slick";

/*Blocks*/

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/user';
@import 'blocks/nav';
@import 'blocks/intro';
@import 'blocks/social';
@import 'blocks/btn';
@import 'blocks/works';
@import 'blocks/portfolio';
@import 'blocks/work';
@import 'blocks/about';
@import 'blocks/reviews';
@import 'blocks/news';
@import 'blocks/articels';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/modal__work';
@import 'blocks/success';
@import 'blocks/timeline';
@import 'blocks/progress-bar';
@import 'blocks/contact';
@import 'blocks/form';
@import 'blocks/burger';

/*helper*/

@import 'helper';