// main: ../../style.less

.experience {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     cursor: pointer;
}



.experince__data {
     display: block;
     font-size: 12px;

     min-width: 220px;
     max-width: 220px;

     padding-bottom: 20px;

     @media @mobile {
          padding-bottom: 10px;
          padding-left: 20px;
          border-left: 1px solid @blue-border;
     }
}

.experince__nameProject {
     font-size: 16px;
     font-weight: 400;
     color: @red;
}

.experince__time {
     font-style: italic;
}

.experince__endDate {
     &::before {
          content: "-";
          padding-right: 2px;
     }
}

.experince__description {
     display: block;
     position: relative;
     padding-left: 20px;

     border-left: 1px solid @blue-border;

     max-width: 660px;


     @media @tablet {
          max-width: 420px;
          min-width: 420px;
     }

     &::before {
          content: "";
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;

          top: 5px;
          left: -5px;

          border-radius: 50%;
          background: @red;
     }

     &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          border-top: 2px solid @white;
          border-right: 2px solid @white;
          position: absolute;
          top: 7px;
          left: 140px;
          z-index: 1;
          transform: translateY(-50%) rotate(135deg);
     }
}

.experince__typePage {
     font-size: 16px;
     font-weight: 400;
     color: @blue;

     padding-bottom: 20px;
}

.experince__summary {

     @media @mobile {
          display: none;
     }
}