// main: ../style.less

.contact {
    display: flex;

    background: url(https:placehold.it/477x700) right center no-repeat;
}

.contact__left {
    width: 47%;
    padding: 2rem;
}

.contact__info {
    font-size: .94rem;
    font-weight: 300;

    margin: 2rem 0 3rem;
    padding: 0;

    list-style: none;

    color: @black;
}

.contact__info-item {
    display: flex;

    margin-bottom: .75rem;

    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact__info-icon {
    margin-right: .75rem;
}
