// main: ../style.less

.nav {
    display: flex;
    flex-wrap: wrap;

    height: 100%;

    align-items: center;

    @media @mobile {
        width: 100%;
        height: auto;
        padding: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        display: none;

        background-color: #fff;

        box-shadow: 0 5px 10px rgba(0,0,0, .3);

        text-align: center;

        &.show {
            display: flex;
        }
    }
}

.nav__link {
    font-size: .93rem;
    font-weight: 700;

    position: relative;

    margin-left: 2rem;

    text-decoration: none;
    text-transform: uppercase;

    color: @black;

    &:after {
        position: absolute;
        z-index: 1;
        bottom: -5px;
        left: 0;

        width: 0;
        height: 2px;

        content: '';
        transition: width .2s linear;

        background-color: @black;
    }

    &:hover:not(.nav__link--btn) {
        &:after {
            width: 100%;
        }
    }

    &--btn {
        padding: .66rem 2rem;

        transition:
            background-color .2s linear,
            .2s color linear;

        border: 2px solid @black;
        border-radius: 20px;

        &:hover {
            color: @white;
            background-color: @black;
        }
    }

    @media @mobile {
        width: 100%;
        margin-left: 0;
        padding: .5rem 1rem;
    }
}
