// main: ../style.less

.nav
{
    display: flex;

    height: 100%;

    align-items: center;
}

.nav__link
{
    font-size: .93rem;
    font-weight: 700;

    position: relative;

    margin-left: 2rem;

    text-decoration: none;
    text-transform: uppercase;

    color: @black;

    &:after
    {
        position: absolute;
        z-index: 1;
        bottom: -5px;
        left: 0;

        width: 0;
        height: 2px;

        content: '';
        transition: width .2s linear;

        background-color: @black;
    }

    &:hover:not(.nav__link--btn)
    {
        &:after
        {
            width: 100%;
        }
    }

    &--btn
    {
        padding: .66rem 2rem;

        transition: 
        background-color .2s linear,
        .2s color linear;

        border: 2px solid @black;
        border-radius: 20px;

        &:hover
        {
            color: @white;
            background-color: @black;
        }
    }
}
