.social {
  display: flex;
  margin-bottom: 42px;
}
.social__link {
  margin-right: 10px;
  transition: transform 0.2s linear;
  text-decoration: none;
}
.social__link:hover {
  transform: translateY(-5px);
}
