// main: ../style.less

.timeline {
    position: relative;

    display: flex;

    width: 100%;
    max-width: 768px;
    margin: 4.2rem auto;

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;

        display: block;

        width: 1px;
        height: 100%;

        content: '';

        background-color: @black;
    }
}

.timeline__col {
    width: 50%;

    &--left {
        padding-right: 3.2rem;

        text-align: right;
    }

    &--right {
        padding-left: 3.2rem;

        text-align: left;
    }
}

.timeline__title {
    font-size: 1.2em;
    font-weight: 700;

    margin-bottom: 1.6rem;

    text-transform: uppercase;

    color: @black;
}

.timeline__item {
    margin-bottom: 2.6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.timeline__date {
    font-size: .94em;

    display: block;

    margin-bottom: .8rem;

    text-decoration: underline;

    color: @black;
}

.timeline__subtitle {
    font-size: 1.06rem;
    font-weight: 700;

    margin-bottom: .2rem;

    color: @black;
}

.timeline__position {
    font-size: .94rem;
    font-style: italic;

    color: @black;
}

.timeline__text {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5;

    margin-top: .8rem;

    color: @gray;
}
